.conversation {
  height: 300px;
  background-color: lightgrey;
  color: blue;
}

.chat {
  margin-right: 3px;
  display: inline-block;
}

.message.from, .message.content {
  display: inline-block;
}

.message.container:nth-child(odd) {
  background-color: lightblue;
}
